<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pruebas chessboard.js</title>

  <link rel="stylesheet" href="css/chessboard-0.3.0.min.css" />
</head>
<body>
<p><a href="examples#1001">&larr; Back to all examples.</a></p>

<p>Pass <code class="js string">'start'</code> as the second argument to initialize the board to the start position.
</p>

<!-- start example HTML --->
<div id="board" style="width: 600px"></div>
<input type="button" id="startBtn" value="Start" />
<input type="button" id="clearBtn" value="Clear" />
<!-- end example HTML --->

<script src="js/json3.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/chessboard-0.3.0.min.js"></script>
<script>
var board = ChessBoard('board', {
  draggable: true,
  dropOffBoard: 'trash',
  sparePieces: true
});
$('#startBtn').on('click', board.start);
$('#clearBtn').on('click', board.clear);
</script>
</body>
</html>
