<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<meta charset="utf-8">
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
</head>
<body>
	<h1>Welcome to ChessPG</h1>
	<!--<form action="return Logear(this)">-->
	<form action="/login">
		<input type="submit" value="entrar como usuario">
	</form>
	<form action="/registro">
		<input type="submit" value="Crear una cuenta">
	</form>
	<form action="/tablero">
		<input type="submit" value="Ir al tablero">
	</form>

</body>
</html>
