<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
  	<meta charset="utf-8">
    <script src="/libraries/snap.svg-min.js" charset="utf-8"></script>
  	<script src="/js/tablero/tablero_snap.js" charset="utf-8"></script>
  	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
  	<script src="/js/tablero/tablero.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/tablero/tablero.css">
    <style>
      #tablero{
        width: 100%;
        height: 700px;;
        background-color: #FE2EF7;
      }
    </style>
  </head>
  <body>
    <svg id="tablero"></svg>
  </body>
</html>
